body { 
    background-color: rgb(250, 250, 250) 
}
#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
}
#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
}

/* textarea, input {
  display: block;
  width: 100%;
  background-color: rgb(132, 131, 133);
}
input {
  height: 36px;
  font-size: 24px;
}
*/
textarea {
    margin-left: 20px;
    height: 100px;
    width: 90%;
    font-size: 18px;
} 
img{
    width: 100%;
    height: auto;
}
.jumbotron {
    height: 350px;
    overflow: hidden;
}
h1{
    display:inline;
}
#scrape-btn{
    margin-left: 15px;
    margin-bottom: 8px;
}